.avatar {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  padding: 34px 0 20px 0;
  border-bottom: 1px solid rgba(33, 33, 33, 0.7);
  max-width: 1280px;
}

.avatar__image {
  width: 190px;
  height: 190px;
  border-radius: 8px;
  object-fit: cover;
}

.avatar__column {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 420px;
}

.avatar__name {
  margin: 0 0 12px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.avatar__description {
  margin: 0;
  padding: 0 0 114px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  opacity: 70%;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.avatar__edit-btn {
  border-style: none;
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, sans-serif;
  display: flex;
  padding: 0;
  margin: auto 0;
  opacity: 70%;
  color: #212121;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.avatar__edit-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.avatar__new-post-btn {
  width: 149px;
  height: 52px;
  margin: 138px 0 0 auto;
  border-radius: 8px;
  background-color: black;
  color: #fcf5e5;
  display: flex;
  gap: 8px;
  padding: 18px 24px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.avatar__new-post-btn:hover {
  cursor: auto;
  cursor: pointer;
  background-color: #212121;
  opacity: 980%;
}

.avatar__new-post-btn-icon {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 676px) {
  .avatar {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
    padding: 20px 0;
    gap: 0;
    border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  }

  .avatar__image {
    width: 80px;
    height: 80px;
  }

  .avatar__column {
    width: 288px;
    align-items: center;
  }

  .avatar__name {
    text-align: center;
    margin: 12px 0 0;
    font-size: 20px;
    line-height: 20px;
    max-width: 288px;
  }

  .avatar__description {
    text-align: center;
    max-width: 420px;
  }

  .avatar__edit-btn {
    margin: 32px 0 0;
  }

  .avatar__description {
    margin: 6px 0 0;
    padding: 0;
  }

  .avatar__new-post-btn {
    margin: 0;
    margin: 20px 0;
    width: 100%;
    justify-content: center;
  }
}
