.cards {
  border-bottom: 1px solid rgba(33, 33, 33, 0.7);
  padding-bottom: 40px;
  border-color: #212121;
}

.cards__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
  padding-top: 20px;
}

@media screen and (max-width: 627px) {
  .cards {
    border-bottom: 1px solid rgba(33, 33, 33, 0.7);
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    margin: auto;
  }
}
